[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
amqp = "==2.4.2"
billiard = "==3.6.0.0"
celery = "==4.3.0"
django-ffmpeg = "==0.0.14"
django-redis = "==4.10.0"
ffmpeg = "==1.4"
kombu = "==4.5.0"
psycopg2 = "==2.8.3"
psycopg2-binary = "==2.8.3"
python-decouple = "==3.1"
pytz = "==2019.1"
redis = "==3.2.1"
sqlparse = "==0.3.0"
vine = "==1.3.0"
Django = "==2.2.20"
youtube_dl = "==2019.7.16"
django-environ = "==0.4.5"

[requires]
python_version = "3.6"
